// grant permission to specific code base
grant codeBase "jmod:file://${mlib}/wls@1.0.jmod!/" {
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getBootLayer";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "registerSystemModule";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.io.FilePermission "applib", "read";
    permission java.io.FilePermission "applib/*", "read";
    permission java.util.PropertyPermission "user.dir", "read";
};
